# Better Auth (Server Secret)
BETTER_AUTH_SECRET="your_32_character_secret"
BETTER_AUTH_URL="https://auth.avrxt.in"
NEXT_PUBLIC_AUTH_URL="https://auth.avrxt.in"

# Neon Database (Drizzle Connection)
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# Discord OAuth
DISCORD_CLIENT_ID="your_18_digit_id"
DISCORD_CLIENT_SECRET="your_discord_client_secret"

# App
NEXT_PUBLIC_APP_URL="https://www.avrxt.in"
NODE_ENV="production"
